# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore logs
logs/
logs
logs.txt
*.log

# Ignore environment files
venv/
.env
*.env

.pytest_cache/

# Ignore other specific files or directories
node_modules/
.DS_Store

